<!DOCTYPE html>
<html lang="en" ng-app="Flightb2b">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Flightb2b</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
  
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Flightb2b</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navigation Bar -->
                <div class="w3-bar w3-white w3-large">
                    <a href='@Url.Action("Flight", "Product")' class="w3-bar-item w3-button w3-mobile">Flight</a>
                    <a class="w3-bar-item w3-button w3-mobile">Contact</a>
                    <input type="submit" id="logoutBtn" value="LogOut" class="btn btn-primary w3-button" onclick="logOut();" />
        

                </div>
               </div>
   
           </nav>
       </header>
   
       <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Flightb2b - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.js"></script>
    <script src="~/js/flight.js"></script>
    @*<script src="~/js/getArrivalAutoComplete.js"></script>
        <script src="~/js/getCheckInDate.js"></script>
        <script src="~/js/getDepartureAutocomplete.js"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
